.form-inline {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.form-inline #search {
    padding: 0 30px;

}

.form-inline .icon {
    position: absolute;
    padding: 10px 10px;
    z-index: 1;
    color: #4f5b66;

}

.container-fluid {
    margin-top: 60px;
}

.col-sm-6 {
    padding-top: 170px;
    /* Important */
}

.container-fluid {
    background-color: #42a2b9;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */